<template>
  <div>
    <q-pull-to-refresh :handler="load" :distance=5 color="white">
      <transition appear
        :enter-active-class="slidingAnimation">
    <div class="relative-position">
      <h3 class="text-white" v-if="accountsEmpty && !loading">You have no accounts. <br> Consider <a @click="$router.push('/portfolio/account')">adding</a> one</h3>
      <q-list separator>
        <q-item v-for="acc in sortedAccounts" :key="acc.ID">
          <q-item-side>
              <acc-logo :account="acc"></acc-logo>
          </q-item-side>
          <q-item-main class="text-white">
            <strong>{{acc.Name}}</strong>
            <br>
            <small>{{formatAmount(acc.Balance) + ' ' + acc.Currency.Symbol}}</small>
          </q-item-main>
          <q-item-side right>
            <q-btn outline color="positive" icon="add" @click="addTransaction(acc,accountsCount)"></q-btn>
            <q-btn color="primary" flat icon="edit" @click="$router.push(`/portfolio/account/${acc.ID}`)"/>
            <q-btn color="warning" flat icon="delete" @click="disableAccount(acc)"/>
          </q-item-side>
        </q-item>
      </q-list>
    </div>
</transition>

    <br>

    </q-pull-to-refresh>
    <q-btn
      size="lg"
      color="positive"
      @click="$router.push('/portfolio/account')"
      class="fixed"
      style="right: 5px; bottom: 5px">
      <q-icon name="add" />
    </q-btn>
  </div>
</template>

<script>
import { mapState, mapGetters } from 'vuex'
import TransactionMixin from '../mixins/transactionMixin'
import AccLogo from 'components/accountLogo'

export default {
  mixins: [TransactionMixin],
  components: {
    'acc-logo': AccLogo
  },
  mounted () {
    if (this.accountsEmpty) {
      this.load(() => {})
    }
  },
  data () {
    return {}
  },
  methods: {
    load (done) {
      this.doAction({
        route: 'account/load',
        args: { fb: this.$fb },
        showLoading: true,
        errorMessage: 'Failed to load accounts'
      }).finally(() => done())
    },
    doAction ({ route, args, showLoading, errorMessage }) {
      return this.$store.dispatch(
        'global/doAction',
        { route, args, showLoading, errorMessage },
        { root: true }
      )
    },
    disableAccount (acc) {
      this.$q
        .dialog({
          title: 'Delete ' + acc.Name + '?',
          message: 'You can restore your account from the settings page!',
          ok: true,
          cancel: true
        })
        .then(() => {
          this.doAction({
            route: 'account/disableAccount',
            args: {
              fb: this.$fb,
              ID: acc.ID
            },
            showLoading: true,
            errorMessage: 'Failed to delete account'
          })
        })
        .catch(_ => {})
    }
  },
  computed: {
    ...mapState('global', ['loading', 'slidingAnimation']),
    ...mapGetters('account', [
      'accountsEmpty',
      'sortedAccounts',
      'accountsCount'
    ]),
    ...mapGetters('global', ['formatAmount'])
  }
}
</script>

<style lang="stylus">
@import '~variables';

.q-list {
  border: none;
}

.modal-header {
  color: $negative;
}
</style>
