<template>
<div>
    <div class="text-light">
        <q-btn @click="$router.go(-1)" size="22px" flat icon="arrow_back" color="white"></q-btn>
        <strong>{{title}}</strong>
    </div>
    <div class="row justify-center">
      <div style="width:500px;max-width: 90vw;">
        <q-input dark
          v-model="addForm.name"
          @keyup.enter="submitAccount"
          @blur="$v.addForm.name.$touch"
          :error="$v.addForm.name.$error"
          float-label="Account name"
          />
          <q-input dark v-if="!editMode"
            type="number"
            v-model="addForm.balance"
            @keyup.enter="submitAccount"
            @blur="$v.addForm.balance.$touch"
            :error="$v.addForm.balance.$error"
            float-label="Initial balance"
          />
          <q-select
            float-label="Type"
            @keyup.enter="submitAccount"
            @blur="$v.addForm.type.$touch"
            :error="$v.addForm.type.$error"
            dark
            v-model="addForm.type"
            :options="accountTypes"
          />
          <q-select v-if="!editMode"
            float-label="Currency"
            @keyup.enter="submitAccount"
            @blur="$v.addForm.currency.$touch"
            :error="$v.addForm.currency.$error"
            filter dark
            v-model="addForm.currency"
            :options="currencyList"
          />

        <q-btn
          round
          color="primary"
          :loading="submitting"
          :disable="!canSubmit"
          @click="submit"
          class="fixed-bottom-right"
          size="lg"
          style="margin-right: 18px; margin-bottom: 18px"
          icon="arrow_forward"
        >
        </q-btn>
    </div>
    </div>
</div>
</template>

<script>
import {mapGetters} from 'vuex'
import { required } from 'vuelidate/lib/validators'
import Vue from 'vue'

export default {
  data () {
    return {
      addForm: {
        ID: '',
        name: '',
        balance: 0,
        currency: 'European Euro (EUR)',
        type: 'Debit'
      },
      accountTypes: [
        {
          label: 'Checking / Debit',
          value: 'Debit'
        },
        {
          label: 'Savings / Investment',
          value: 'Savings / Investment'
        }
      ],
      submitting: false,
      editMode: false
    }
  },
  validations: {
    addForm: {
      name: { required },
      balance: { required },
      currency: { required },
      type: {required}
    }
  },
  methods: {
    submit () {
      if (!this.canSubmit) return

      this.submitting = true

      this.doAction({
        route: this.editMode ? 'account/editAccount' : 'account/submitNewAccount',
        args: {
          fb: this.$fb,
          ID: this.addForm.ID,
          Props: !this.editMode ? {
            Name: this.addForm.name,
            Type: this.addForm.type,
            Currency: this.addForm.currency,
            Balance: this.addForm.balance
          } : {
            Name: this.addForm.name,
            Type: this.addForm.type
          }
        },
        errorMessage: 'Failed to submit account'
      })
        .then(() => this.$router.go(-1))
        .finally(() => {
          Vue.nextTick(() => {
            this.submitting = false
          })
        })
    },
    doAction ({route, args, showLoading, errorMessage}) {
      return this.$store.dispatch('global/doAction', {route, args, showLoading, errorMessage}, {root: true})
    }
  },
  computed: {
    title: function () {
      return this.editMode ? `Edit ${this.addForm.name}` : `Add account`
    },
    canSubmit: function () {
      return !this.$v.addForm.$invalid
    },
    ...mapGetters('account', ['accountWithID']),
    ...mapGetters('global', ['currencyList', 'currencyToRaw'])
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      var accountID = vm.$route.params.accountID

      vm.editMode = !!accountID
      if (vm.editMode) {
        var acc = vm.accountWithID(accountID)

        if (!acc) { return next(from) }

        vm.addForm = {
          ID: acc.ID,
          name: acc.Name,
          balance: acc.Balance,
          type: acc.Type,
          currency: vm.currencyToRaw(acc.Currency)
        }
      }

      next()
    })
  }
}
</script>
