<template>
<div>
    <div class="text-light">
        <q-btn @click="$router.go(-1)" size="22px" flat icon="arrow_back" color="white"></q-btn>
        <strong>{{title}}</strong>
    </div>
    <div class="row justify-center">
      <div style="width:500px;max-width: 90vw;">
        <q-field
          icon="description">
          <q-input dark
            v-model="addForm.name"
            @keyup.enter="submitCategory"
            @blur="$v.addForm.name.$touch"
            :error="$v.addForm.name.$error"
            float-label="Category name"
            />
        </q-field>
          <q-select v-if="editMode"
            float-label="Type"
            @keyup.enter="submitCategory"
            @blur="$v.addForm.type.$touch"
            :error="$v.addForm.type.$error"
            dark
            v-model="addForm.type"
            :options="categoryTypes"
          />
          <q-field
            dark
            icon="label"
            label="Tags"
            helper="Add some tags"
            :label-width="3"
          >
            <q-chips-input dark color="secondary" v-model="addForm.tags" />
          </q-field>
{{addForm.Type}}
        <q-btn
          round
          color="primary"
          :loading="submitting"
          :disable="!canSubmit"
          @click="submit"
          class="fixed-bottom-right"
          size="lg"
          style="margin-right: 18px; margin-bottom: 18px"
          icon="arrow_forward"
        >
          <span slot="loading"><q-spinner-facebook style="margin-left:12px"/></span>
        </q-btn>
    </div>
    </div>
</div>
</template>

<script>
import {mapGetters} from 'vuex'
import { required } from 'vuelidate/lib/validators'
import Vue from 'vue'

export default {
  data () {
    return {
      addForm: {
        ID: '',
        name: '',
        type: 'Expense',
        tags: []
      },
      categoryTypes: [
        {
          label: 'Expense',
          value: 'Expense'
        },
        {
          label: 'Income',
          value: 'Income'
        }
      ],
      Acount: {
        ID: '',
        Name: ''
      },
      submitting: false,
      editMode: false
    }
  },
  validations: {
    addForm: {
      name: { required },
      type: {required}
    }
  },
  methods: {
    submit () {
      if (!this.canSubmit) return

      this.submitting = true

      this.doAction({
        route: this.editMode ? 'category/editCategory' : 'category/submitNewCategory',
        args: {
          fb: this.$fb,
          ID: this.addForm.ID,
          Name: this.addForm.name,
          Type: this.addForm.type,
          Tags: this.addForm.tags
        },
        showLoading: false,
        errorMessage: 'Failed to submit category'
      })
        .then(() => this.$router.go(-1))
        .finally(() => {
          Vue.nextTick(() => {
            this.submitting = false
          })
        })
    },
    doAction ({route, args, showLoading, errorMessage}) {
      return this.$store.dispatch('global/doAction', {route, args, showLoading, errorMessage}, {root: true})
    }
  },
  computed: {
    title: function () {
      return this.editMode ? `Edit ${this.addForm.name}` : `Add ${this.addForm.type} category`
    },
    canSubmit: function () {
      return !this.$v.addForm.$invalid
    },
    ...mapGetters('category', ['categoryWithID'])
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      var categoryID = vm.$route.params.categoryID

      vm.editMode = !!categoryID && (categoryID !== 'Income' && categoryID !== 'Expense')

      if (vm.editMode) {
        var cat = vm.categoryWithID(categoryID)

        if (!cat) { return next(from) }

        vm.addForm = {
          ID: cat.ID,
          name: cat.Name,
          type: cat.Type,
          tags: cat.Tags
        }
      } else {
        // we used category param to specify type
        vm.addForm.type = categoryID
      }

      next()
    })
  }
}
</script>
