<template>
  <div>
    <q-pull-to-refresh :handler="load" :distance=5 color="white">
      <transition appear
        :enter-active-class="slidingAnimation">
    <div class="relative-position">
      <h3 class="text-white" v-if="categoriesEmpty && !loading">You have no categories. <br> Consider <a @click="$router.push('/portfolio/category')">adding</a> one</h3>
      <q-list class="text-white" v-if="!categoriesEmpty">
        <q-collapsible group="categories" icon="remove_circle" label="Expenses" class="expense" opened>
          <strong class="text-warning" v-if="expenseEmpty && !loading">No expense categories</strong>
          <q-list separator class="expenses">
            <q-item v-for="cat in sortedExpense" :key="cat.ID">
              <q-item-main class="text-white">
                <strong>{{cat.Name}}</strong>
                <br>
                {{tagsCountDescription(cat)}} tags
              </q-item-main>
              <q-item-side right>
                <q-btn color="primary" flat icon="edit" @click="$router.push(`/portfolio/category/${cat.ID}`)"/>
                <q-btn color="warning" flat icon="delete" @click="deleteCategory(cat)"/>
              </q-item-side>
            </q-item>
          </q-list>
        </q-collapsible>
        <q-collapsible indent group="categories" icon="add_circle" label="Income" class="income">
          <strong class="text-warning" v-if="incomeEmpty && !loading">No income categories</strong>
          <q-list separator>
            <q-item v-for="cat in sortedIncome" :key="cat.ID">
              <q-item-main class="text-white">
                <strong>{{cat.Name}}</strong>
                <br>
                {{tagsCountDescription(cat)}} tags
              </q-item-main>
              <q-item-side right>
                <q-btn color="primary" flat icon="edit" @click="$router.push(`/portfolio/category/${cat.ID}`)"/>
                <q-btn color="warning" flat icon="delete" @click="deleteCategory(cat)"/>
              </q-item-side>
            </q-item>
          </q-list>
        </q-collapsible>
      </q-list>
    </div>
      </transition>
    <br>
    </q-pull-to-refresh>
    <q-btn
      size="lg"
      color="positive"
      @click="addCategory"
      :disabled="loading"
      class="fixed"
      style="right: 5px; bottom: 5px">
      <q-icon name="add" />
    </q-btn>
  </div>
</template>

<script>
import {mapState, mapGetters} from 'vuex'
import { required } from 'vuelidate/lib/validators'
import Vue from 'vue'

export default {
  mounted () {
    if (this.categoriesEmpty) { this.load(() => {}) }
  },
  data () {
    return {
      addForm: {
        ID: '',
        name: '',
        type: 'Expense',
        tags: []
      },
      categoryTypes: [
        {
          label: 'Expense',
          value: 'Expense'
        },
        {
          label: 'Income',
          value: 'Income'
        }
      ],
      submitting: false,
      editedItem: null
    }
  },
  validations: {
    addForm: {
      name: { required },
      type: {required}
    }
  },
  methods: {
    load (done) {
      this.doAction({
        route: 'category/load',
        args: {fb: this.$fb},
        showLoading: true,
        errorMessage: 'Failed to load categories'
      })
        .finally(() => done())
    },
    addCategory () {
      this.$q.actionSheet({
        title: `Category type`,
        grid: false,
        actions: [
          {
            label: 'Expense',
            icon: 'remove_circle',
            color: 'negative'
          },
          {
            label: 'Income',
            icon: 'add_circle',
            color: 'positive'
          }
        ]
      })
        .then(response => {
          this.$router.push(`/portfolio/category/${response.label}`)
        })
        .catch(_ => { })
    },
    doAction ({route, args, showLoading, errorMessage}) {
      return this.$store.dispatch('global/doAction', {route, args, showLoading, errorMessage}, {root: true})
    },
    submitCategory () {
      if (!this.cansubmitCategory) return

      this.doAction({
        route: this.editMode ? 'category/editCategory' : 'category/submitNewCategory',
        args: {
          fb: this.$fb,
          ID: this.addForm.ID,
          Name: this.addForm.name,
          Type: this.addForm.type,
          Tags: this.addForm.tags
        },
        showLoading: true,
        errorMessage: 'Failed to submit category'
      })
        .finally(() => {
          Vue.nextTick(() => {
            this.submitting = false
          })
        })
    },
    clearForm () {
      this.addForm.name = ''
      this.addForm.type = 'Expense'
      this.addForm.tags = []
    },
    deleteCategory (cat) {
      this.$q.dialog({
        title: 'Delete ' + cat.Name + '?',
        message: 'This category may have attached transactions!',
        ok: true,
        cancel: true
      })
        .then(() => {
          this.doAction({
            route: 'category/deleteCategory',
            args: {
              fb: this.$fb,
              ID: cat.ID
            },
            showLoading: true,
            errorMessage: 'Failed to delete category'
          })
        })
        .catch(_ => {})
    }
  },
  computed: {
    ...mapState('global', ['loading', 'slidingAnimation']),
    ...mapGetters('category', ['categoriesEmpty', 'expenseEmpty', 'incomeEmpty', 'sortedExpense', 'sortedIncome', 'tagsCountDescription']),
    cansubmitCategory: function () {
      return !this.$v.addForm.$invalid
    },
    editMode: function () {
      return this.editedItem !== null
    }
  },
  watch: {
    modalOpened: function (val) {
      if (val === false) {
        this.$v.addForm.$reset()
        this.clearForm()
        this.editedItem = null
      }
    }
  }
}
</script>

<style lang="stylus">
@import '~variables'

.modal-header
  color $negative

.q-collapsible.income
  .q-item-side-left
    i
      color:$positive

.q-collapsible.expense
  .q-item-side-left
    i
      color:$negative
</style>
