<template>
<div>
  <div class="text-light">
    <q-btn @click="$router.go(-1)" size="22px" flat icon="arrow_back" color="white"></q-btn>
    <strong>Chose account</strong>
  </div>

    <q-list separator>
      <q-item v-for="acc in sortedAccounts" :key="acc.ID" @click.native="submit(acc)">
        <q-item-side>
          <acc-logo :account="acc"></acc-logo>
        </q-item-side>
        <q-item-main class="text-white">
          <strong>{{acc.Name}}</strong>
          <br>
          <small>{{formatAmount(acc.Balance) + ' ' + acc.Currency.Symbol}}</small>
        </q-item-main>
      </q-item>
    </q-list>
</div>

</template>

<script>
import { mapGetters } from 'vuex'
import AccLogo from 'components/accountLogo'

export default {
  components: {
    'acc-logo': AccLogo
  },
  data () {
    return {
      selectedAccount: ''
    }
  },
  methods: {
    submit (acc) {
      this.$router.push(this.type === 'Transfer' ? `/portfolio/transfer/${acc.ID}` : `/portfolio/transaction/${acc.ID}/${this.type}`)
    }
  },
  computed: {
    type: function () {
      return this.$route.params.type
    },
    ...mapGetters('account', ['sortedAccounts']),
    ...mapGetters('global', ['formatAmount'])
  }
}
</script>

<style lang="stylus">
</style>
