<template>
<div>
    <div class="text-light">
        <q-btn @click="$router.go(-1)" size="22px" flat icon="arrow_back" color="white"></q-btn>
        <strong>{{title}}</strong>
    </div>
    <div class="row justify-center">
      <div style="width:500px;max-width: 90vw;">
        <q-field
          :error="$v.form.amount.$error"
          icon="euro_symbol"
          error-label="Positive amount">
          <q-input dark
              autofocus="true"
              float-label="Amount"
              type="number"
              v-model="form.amount"
              @blur="$v.form.amount.$touch"
              :suffix="Currency.Symbol"
            />
        </q-field>
        <h5 class="text-warning">Optional</h5>
        <q-field
          icon="list"
        >
          <q-select
            float-label="Category"
            dark
            filter
            clearable
            v-model="form.category"
            :options="this.Transaction ? transactionCategories(Transaction.Debit ? 'Expense' : 'Income') : []"
          />
        </q-field>
        <q-field
          dark
          icon="local_offer"
          :disabled="tags.length === 0"
        >
        <q-select
          :disable="tags.length === 0"
          multiple
          chips
          dark
          color="secondary"
          float-label="Tags"
          v-model="form.tags"
          :options="tags"
        />
        </q-field>
        <q-field
          icon="description">
          <q-input dark
              float-label="Description"
              v-model="form.description"
              @keyup.enter="submit"
            />
        </q-field>
        <q-field
          dark
          icon="today">
          <q-datetime
            :displayValue="todayFormat(form.date)"
            type="date"
            :max="today"
            v-model="form.date"
            float-label="Transaction date"
            icon="add"
            no-clear/>
        </q-field>
        <q-btn
          round
          color="primary"
          :loading="submitting"
          :disable="!canSubmit"
          @click="submit"
          class="fixed-bottom-right"
          size="lg"
          style="margin-right: 18px; margin-bottom: 18px"
          icon="arrow_forward"
        >
          <span slot="loading"><q-spinner-facebook style="margin-left:12px"/></span>
        </q-btn>
    </div>
    </div>
</div>
</template>

<script>
import {mapGetters} from 'vuex'
import { required, minValue } from 'vuelidate/lib/validators'
import Vue from 'vue'
import {date} from 'quasar'
const {formatDate} = date

export default {
  data () {
    var today = new Date()

    return {
      today,
      form: {
        amount: '',
        category: '',
        tags: [],
        description: '',
        date: today
      },
      Type: '',
      submitting: false,
      Transaction: null
    }
  },
  watch: {
    'form.category': function (newValue, oldValue) {
      if (newValue && oldValue) { this.form.tags = [] }
    }
  },
  validations: {
    form: {
      amount: { required, minValue: minValue(0.0000000001) }
    }
  },
  methods: {
    submit () {
      if (!this.canSubmit) return

      this.submitting = true

      this.doAction({
        route: `transaction/editTransaction`,
        args: {
          fb: this.$fb,
          TransactionID: this.Transaction.ID,
          Account: this.accountWithID(this.Transaction.AccountID),
          Date: formatDate(this.form.date, 'YYYY-MM-DD'),
          Debit: this.Transaction.Debit,

          Amount: this.form.amount,
          Category: this.form.category,
          Tags: this.form.tags,
          Description: this.form.description
        },
        showLoading: false,
        errorMessage: 'Unable to add transaction'})
        .then(message => {
          this.$router.replace('/')
        })
        .finally(() => {
          Vue.nextTick(() => {
            this.submitting = false
          })
        })
    },
    doAction ({route, args, showLoading, errorMessage}) {
      return this.$store.dispatch('global/doAction', {route, args, showLoading, errorMessage}, {root: true})
    }
  },
  computed: {
    title: function () {
      return (this.Transaction) ? `Edit ${this.Transaction.Debit ? 'expense' : 'income'}` : ''
    },
    canSubmit: function () {
      return !this.$v.form.$invalid
    },
    tags: function () {
      if (!this.form.category) { return [] }

      var res = this.$store.getters['category/tags'](this.form.category)
      return res
    },
    Currency: function () {
      return this.Transaction
        ? this.accountWithID(this.Transaction.AccountID).Currency
        : ''
    },
    ...mapGetters('transaction', ['transactionCategories']),
    ...mapGetters('account', ['accountWithID']),
    ...mapGetters('global', ['todayFormat'])
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      var transactionID = vm.$route.params.transactionID

      vm.Transaction = vm.$store.getters['transaction/transactionWithID'](transactionID)

      if (!vm.Transaction) {
        next('/portfolio/transactions')
        return
      }
      vm.form = {
        amount: vm.Transaction.Amount,
        category: vm.Transaction.CategoryID,
        tags: vm.Transaction.Tags,
        description: vm.Transaction.Description,
        date: vm.Transaction.Date
      }

      next()
    })
  }
}
</script>
