<template>
<div class="fixed-center">
<q-card>
  <q-card-title align="center" class="text-white">
    <big><strong>Login</strong></big>
  </q-card-title>
  <q-card-main>
  <q-input dark
    v-model="form.email"
    @keyup.enter="login"
    @blur="$v.form.email.$touch"
    :error="$v.form.email.$error"
    float-label="Email"
    />
    <q-input dark
      type="password"
      v-model="form.password"
      @keyup.enter="login"
      @blur="$v.form.password.$touch"
      :error="$v.form.password.$error"
      float-label="Password"
    />
  </q-card-main>
  <q-card-separator class="bg-white"/>
  <q-card-actions>
    <q-btn color="positive" :loading="submitting" class="full-width" @click="login" :disabled="!canSubmit">
      Login
    </q-btn>
    <div class="col-12" style="margin-top:10px">
      <router-link to="/auth/register"><strong>New to us? Sign Up</strong></router-link>
    </div>
    <!-- <div class="col-12">
      <router-link to="/auth/resetPassword"><strong>Forgot password?</strong></router-link>
    </div> -->
  </q-card-actions>
</q-card>
</div>
</template>

<script>
import { required, email } from 'vuelidate/lib/validators'

// import { Notify } from 'quasar'
export default {
  data () {
    return {
      form: {
        email: '',
        password: ''
      },
      submitting: false
    }
  },
  validations: {
    form: {
      email: { required, email },
      password: {
        required
      }
    }
  },
  computed: {
    canSubmit: function () {
      return !this.$v.form.$invalid
    }
  },
  methods: {
    login (event) {
      if (!this.canSubmit) return

      this.submitting = true

      this.doAction({
        route: 'auth/login',
        args: {
          fb: this.$fb,
          email: this.form.email,
          password: this.form.password
        },
        errorMessage: 'Wrong username or password'
      })
        .then(res => {
          if (res.success) {
            this.$router.push(this.$route.query.returnUrl || '/')
          }
        })
        .finally(() => {
          this.submitting = false
        })
    },
    doAction ({ route, args, showLoading, errorMessage }) {
      return this.$store.dispatch(
        'global/doAction',
        { route, args, showLoading, errorMessage },
        { root: true }
      )
    }
  }
}
</script>
