<template>
<div class="full-page-height" style="display:flex;flex-direction:column" v-touch-swipe.horizontal="swiped">
  <div class="text-white items-center">
        <q-btn @click="$router.go(-1)" size="22px" flat icon="arrow_back" color="white"></q-btn>
        <strong>{{Title}}</strong>
  </div>
  <q-carousel ref="carousel" v-model="currentStep" color="primary" style="flex-grow:1"
    quick-nav arrows>
    <q-carousel-slide v-for="(tr,index) in transactions" v-bind:key="index">
      <div>
        <q-field
          :error="$v.transactions.$each[index].amount.$error"
          icon="euro_symbol"
          error-label="Positive amount">
          <q-input dark
              float-label="Amount"
              type="number"
              :suffix="Currency.Symbol"
              :value="tr.amount"
              @input="v => {tr.amount = v; $v.transactions.$each[index].amount.$touch()}"
              @change="$v.transactions.$each[index].amount.$touch"
              @blur="$v.transactions.$each[index].amount.$touch"
            />
        </q-field>
        <h5 class="text-warning">Optional</h5>
        <q-field
            icon="list"
          >
            <q-select
              float-label="Category"
              dark
              filter
              clearable
              v-model="tr.category"
              :options="transactionCategories(Type)"
              @input="_ => tr.tags = []"
            />
        </q-field>
          <q-field
            dark
            icon="local_offer"
            :disabled="tags(tr).length === 0"
          >
          <q-select
            :disable="tags(tr).length === 0"
            multiple
            color="secondary"
            chips
            dark
            float-label="Tags"
            v-model="tr.tags"
            :options="tags(tr)"
          />
          </q-field>
          <q-field
            icon="description">
            <q-input dark
                float-label="Description"
                v-model="tr.description"
              />
          </q-field>
          <q-field
            dark
            icon="today">
            <q-datetime
              :disable="!FirstStep"
              :displayValue="todayFormat(tr.date)"
              type="date"
              :max="today"
              v-model="tr.date"
              color="amber"
              float-label="Transaction date"
              icon="add"
              no-clear/>
          </q-field>
      </div>
    </q-carousel-slide>

    <q-modal v-model="opened" minimized>
      <q-card>
        <q-card-title>
          Confirm submit
        </q-card-title>
        <q-card-separator/>
        <q-card-main>
          <q-table
            title="" :data="TableData" :columns="Columns"
            row-key="id" hide-bottom :pagination="pagination">
              <td slot="body-cell-id" slot-scope="props" :props="props" class="text-center">
                <q-icon v-if="isInitialRow(props.value)" name="radio_button_unchecked"></q-icon>
                <q-icon v-if="isTransactionRow(props.value)" name="more_vert"></q-icon>
                <q-icon v-if="isEndRow(props.value)" name="location_on"></q-icon>
              </td>
              <td slot="body-cell-balance" slot-scope="props" :props="props">
                <span :class="isEndRow(props.row.id) ? 'text-weight-bolder q-subheading' : ''">{{props.value}}</span>
              </td>
              <td slot="body-cell-amount" slot-scope="props" :props="props" class="text-center">
                <span :class="[Debit ? 'text-negative' : 'text-positive', isEndRow(props.row.id) ? 'text-weight-bolder q-subheading' : '']"
                >{{props.value}}</span>
              </td>
              <td slot="body-cell-category" slot-scope="props" :props="props" class="text-center">
                <q-chip v-if="props.value" color="primary"><strong>{{props.value}}</strong></q-chip>
                <!-- <strong v-if="props.value && props.row.tags.length > 0">/</strong>
                <q-chip v-for="tag in props.row.tags" :key="tag" color="secondary" style="flex-wrap:wrap;margin-top:5px;margin-left:5px" small>{{tag}}</q-chip> -->
              </td>
              <td slot="body-cell-actions" slot-scope="props" :props="props">
                <q-icon v-if="isTransactionRow(props.row.id) && props.row.id !== 0" @click.native="remove(props.row.id)"
                name="delete" color="negative" size="18px"/>
              </td>
            </q-table>
        </q-card-main>
        <q-card-actions align="end">
          <q-btn flat color="faded" label="Cancel" @click="opened = false"/>
          <q-btn flat color="primary" label="Submit" :loading="submitting" @click="submit(true)" />
        </q-card-actions>
      </q-card>
    </q-modal>

  </q-carousel>
  <q-btn rounded color="primary"
    :loading="submitting"
    :disable="!CanSubmit"
    @click="submit()"
    size="lg" class="fixed-bottom-right" icon="arrow_forward" style="margin-right:18px;margin-bottom:45px">
  </q-btn>
  <div class="fixed-bottom-left" style="margin-left:18px;margin-bottom:45px">
  <q-btn @click="split" :disable="NumberOfTransactions >= 5" outline color="secondary" label="split" icon="call_split"/>
  <q-btn @click="remove" :disable="FirstStep" outline color="negative" label="remove" icon="delete"/>
  </div>
</div>
</template>

<script>
import { required, minValue } from 'vuelidate/lib/validators'
import {mapGetters} from 'vuex'
import Vue from 'vue'

import {date} from 'quasar'
const {formatDate} = date

export default {
  data () {
    var today = new Date()

    return {
      today,
      currentStep: 0,
      transactions: [
        {
          amount: '',
          category: '',
          tags: [],
          description: '',
          date: today
        }
      ],
      Account: {
        ID: '',
        Name: '',
        Currency: {
          Symbol: '',
          Description: ''
        }
      },
      Type: '',
      submitting: false,
      opened: false,
      Columns: [
        {
          name: 'id',
          label: '',
          field: 'id'
        },
        {
          name: 'category',
          label: 'Category',
          field: 'category',
          align: 'center'
        },
        {
          name: 'amount',
          label: 'Amount',
          align: 'center',
          field: 'amount'
        },
        {
          name: 'balance',
          label: 'Balance',
          align: 'left',
          field: 'balance',
          color: 'black'
        },
        {
          name: 'actions',
          label: ''
        }
      ],
      pagination: {
        rowsPerPage: 10 // current rows per page being displayed
      }
    }
  },
  computed: {
    Title: function () {
      if (!this.Account) { return '' }

      var base = `${this.Account.Name} / ${this.Type}`

      if (!this.OnlyOneTransaction) {
        var idx = this.currentStep + 1
        base += ` / ${idx}${this.$options.filters.numeral(idx)}`
      }

      return base
    },
    TableData: function () {
      var res = []
      res.push({
        id: 'Initial',
        amount: '',
        balance: this.formatAmount(this.Account.Balance)
      })

      res = res.concat(
        this.transactions
          .reduce((acc, tr) => {
            var lastBalance = acc.length === 0
              ? this.Account.Balance
              : acc[acc.length - 1].balance

            return acc.concat([
              {
                id: this.transactions.indexOf(tr),
                amount: this.formatAmount(tr.amount),
                balance: this.formatAmount(lastBalance + (this.Debit ? -tr.amount : tr.amount)),
                category: tr.category ? this.categoryWithID(tr.category).Name : '',
                tags: tr.tags
              }
            ])
          }
            , []))

      res.push({
        id: 'End',
        amount: this.TotalAmount,
        balance: res[res.length - 1].balance
      })

      return res
    },
    Debit: function () {
      return this.Type === 'Expense'
    },
    RightTitle: function () {
      return `Amount: ${this.formatAmount(this.TotalAmount)}`
    },
    TotalAmount: function () {
      return this.transactions
        .map(tr => this.formatAmount(tr.amount))
        .reduce((a, b) => {
          return a + b
        }, 0)
    },
    CanSubmit: function () {
      return !this.$v.transactions.$invalid
    },
    Currency: function () {
      return this.Account.Currency
    },
    OnlyOneTransaction: function () {
      return this.NumberOfTransactions === 1
    },
    NumberOfTransactions: function () {
      return this.transactions.length
    },
    FirstStep: function () {
      return this.currentStep === 0
    },
    LastStep: function () {
      return this.currentStep === this.NumberOfTransactions - 1
    },
    ...mapGetters('transaction', ['transactionCategories']),
    ...mapGetters('global', ['todayFormat', 'formatAmount']),
    ...mapGetters('category', ['categoryWithID'])
  },
  methods: {
    swiped (touch) {
      if (touch.direction === 'left' || touch.distance.x < 150 || !this.OnlyOneTransaction) { return }

      this.$router.go(-1)
    },
    touchAll () {
      this.$v.$touch()
    },
    submit (fromModal = false) {
      if (!this.CanSubmit) {
        this.touchAll()
        return
      }

      if (!this.OnlyOneTransaction && !fromModal) {
        this.opened = true
        return
      }

      this.submitting = true

      this.doAction({
        route: `transaction/addTransaction`,
        args: {
          fb: this.$fb,
          Debit: this.Debit,
          Account: this.Account,
          Date: formatDate(this.transactions[0].date, 'YYYY-MM-DD'),
          Transactions: this.transactions.map(t => {
            return {
              Amount: t.amount,
              Category: t.category,
              Tags: t.tags,
              Description: t.description
            }
          })
        },
        showLoading: false,
        errorMessage: 'Unable to add transaction'})
        .then(message => {
          this.$router.replace('/')
        })
        .finally(() => {
          Vue.nextTick(() => {
            this.opened = false
            this.submitting = false
          })
        })
    },
    split () {
      this.touchAll()

      this.transactions.push({
        amount: '',
        category: '',
        tags: [],
        description: ''
      })

      Vue.nextTick(() => {
        this.currentStep++
      })
    },
    remove (idx) {
      if (idx === undefined) { idx = this.currentStep }

      if (idx === 0) {
        return
      }

      this.transactions.splice(idx, 1)

      Vue.nextTick(() => {
        this.currentStep = (idx >= this.transactions.length ? 0 : idx + 1)
      })
    },
    tags: function (tr) {
      if (!tr.category) { return [] }

      var res = this.$store.getters['category/tags'](tr.category)
      return res
    },
    isTransactionRow (id) {
      return id !== 'Initial' && id !== 'End'
    },
    isInitialRow (id) {
      return id === 'Initial'
    },
    isEndRow (id) {
      return id === 'End'
    },
    doAction ({route, args, showLoading, errorMessage}) {
      return this.$store.dispatch('global/doAction', {route, args, showLoading, errorMessage}, {root: true})
    }
  },
  validations: {
    transactions: {
      required,
      $each: {
        amount: {required, minValue: minValue(0.0000000001)}
      }
    }
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      var accountID = vm.$route.params.accountID
      var type = vm.$route.params.type

      vm.Account = vm.$store.getters['account/accountWithID'](accountID)
      vm.Type = type

      if (!vm.Account || !vm.Type) {
        next(from)
      }

      next()
    })
  }
}
</script>

<style lang="stylus">
@import '~variables'

.full-page-height
  height: calc(100vh - 64.8px)
  .q-carousel-left-arrow, .q-carousel-right-arrow
    top: 25%

.q-chip-small
  font-size:12px
</style>
