<template>
<div class="fixed-center">
<q-card class="text-white">
  <q-card-title align="center">
    <big><strong>Sign up</strong></big>
  </q-card-title>
  <q-card-main>
  <q-input dark
    v-model="form.email"
    @keyup.enter="register"
    @blur="$v.form.email.$touch"
    :error="$v.form.email.$error"
    float-label="Email"
    />
    <q-field :count="6">
      <q-input dark
        type="password"
        v-model="form.password"
        @keyup.enter="register"
        @blur="$v.form.password.$touch"
        :error="$v.form.password.$error"
        float-label="Password"
      />
    </q-field>
    <q-field>
      <q-input dark
        type="password"
        v-model="form.confirmPassword"
        @keyup.enter="register"
        @blur="$v.form.confirmPassword.$touch"
        :error="$v.form.confirmPassword.$error"
        float-label="Confirm Password"
      />
    </q-field>

    <div style="padding:10px 0px">Add common...</div>
    <q-field>
    <q-checkbox v-model="form.seedCategories" label="Categories"></q-checkbox>
    </q-field>
    <q-field>
    <q-checkbox v-model="form.seedAccounts" label="Accounts"></q-checkbox>
    </q-field>
  </q-card-main>
  <q-card-separator class="bg-white"/>
  <q-card-actions>
    <q-btn color="positive" v-model="submitting" class="full-width" @click="register" :disabled="!canSubmit">
      Sign up
      <span slot="loading">Sign up<q-spinner-facebook style="margin-left:12px"/></span>
    </q-btn>
    <div class="col-12" style="margin-top:10px">
      <router-link to="/auth/login"><strong>Have an account? Login</strong></router-link>
    </div>
  </q-card-actions>
</q-card>
</div>
</template>

<script>
import {required, email, sameAs, minLength} from 'vuelidate/lib/validators'

export default {
  data () {
    return {
      form: {
        email: '',
        password: '',
        confirmPassword: '',
        seedCategories: true,
        seedAccounts: true
      },
      submitting: false
    }
  },
  validations: {
    form: {
      email: { required, email },
      password: {
        required,
        minLength: minLength(6)
      },
      confirmPassword: {
        required,
        sameAs: sameAs('password')
      }
    }
  },
  computed: {
    canSubmit: function () {
      return !this.$v.form.$invalid
    }
  },
  methods: {
    register (event) {
      if (!this.canSubmit) { return }

      this.submitting = true

      this.doAction({
        route: 'auth/register',
        args: {
          fb: this.$fb,
          email: this.form.email,
          password: this.form.password,
          seedCategories: this.form.seedCategories,
          seedAccounts: this.form.seedAccounts
        },
        showLoading: true,
        errorMessage: e => e.code && e.code === 'auth/email-already-in-use' ? 'Email already taken' : 'Unable to create user'
      })
        .then(res => {
          if (res.success) {
            this.$router.push('/')
          }
        })
        .finally(() => { this.submitting = false })
    },
    doAction ({ route, args, showLoading, errorMessage }) {
      return this.$store.dispatch(
        'global/doAction',
        { route, args, showLoading, errorMessage },
        { root: true }
      )
    }
  }
}
</script>
