<template>
  <q-page class="text-white" padding>
    <div class="row items-center">
        <div class="col">
          <q-btn @click="$router.go(-1)" size="22px" flat icon="arrow_back" color="white"></q-btn>
          <strong>{{Title}}</strong>
        </div>
    </div>
    <q-list separator>
      <strong class="text-warning absolute-center q-display-1 text-center" v-if="disabledAccounts.length === 0">You have no disabled accounts!</strong>
      <q-item v-for="(acc) in accounts" :key="acc.Account.ID">
        <q-item-side>
            <acc-logo :account="acc.Account"></acc-logo>
        </q-item-side>
        <q-item-main class="text-white">
          <strong>{{acc.Account.Name}}</strong>
          <br>
          <small>{{formatAmount(acc.Account.Balance) + ' ' + acc.Account.Currency.Symbol}}</small>
        </q-item-main>
        <q-item-side right>
          <q-btn color="primary" icon="visibility" :loading="acc.Loading" @click="enableAccount(acc)" label="Enable"></q-btn>
        </q-item-side>
        <div>
        </div>
      </q-item>
    </q-list>
  </q-page>
</template>

<script>
import AccLogo from '../components/accountLogo'
import {mapGetters} from 'vuex'

export default {
  data () {
    return {
      Title: 'Restore accounts'
    }
  },
  components: {
    'acc-logo': AccLogo
  },
  computed: {
    accounts: function () {
      return this.disabledAccounts.map(a => {
        return {
          Account: a,
          Loading: false
        }
      })
    },
    ...mapGetters('account', ['disabledAccounts']),
    ...mapGetters('global', ['formatAmount'])
  },
  methods: {
    enableAccount (acc) {
      acc.Loading = true
      this.$forceUpdate()

      this.doAction({
        route: 'account/enableAccount',
        args: {
          fb: this.$fb,
          ID: acc.Account.ID
        },
        showLoading: false,
        errorMessage: 'Failed to enable account'
      })
        .then(() => {
          this.$router.push('/')
        })
        .finally(() => {
          acc.Loading = false
          this.$forceUpdate()
        })
    },
    doAction ({ route, args, showLoading, errorMessage }) {
      return this.$store.dispatch(
        'global/doAction',
        { route, args, showLoading, errorMessage },
        { root: true }
      )
    }
  }
}
</script>

<style>
</style>
