<template>
<q-page padding>
  <transition appear :enter-active-class="slidingAnimation">
    <div class="text-white">
      <q-list separator>
        <q-item @click.native="$router.push('/portfolio/settings/restoreAccounts')">
          <q-item-side>
            <q-icon name="visibility_off" size="30px" color="red-4"/>
          </q-item-side>
          <q-item-main>
            <strong>Disabled accounts</strong>
          </q-item-main>
          <q-item-side right color="white">
            <span>Modify</span>
            <q-icon name="keyboard_arrow_right" color="light" size="30px"/>
          </q-item-side>
        </q-item>
      </q-list>
      <q-item-separator/>
      <span/>
    </div>
  </transition>
      <q-btn
      size="lg"
      color="warning"
      @click=signOut
      class="fixed-bottom full-width"
      :loading="signingOut"
      label="Log out">
    </q-btn>
</q-page>
</template>

<script>
import {mapState} from 'vuex'
import {Notify} from 'quasar'

export default {
  data () {
    return {
      signingOut: false
    }
  },
  methods: {
    signOut () {
      this.signingOut = true

      this.doAction({
        route: 'auth/logOut',
        args: {
          fb: this.$fb
        },
        showLoading: true,
        errorMessage: 'Failed to sign out!'
      })
        .then(() => {
          Notify.create({
            message: 'You have been signed out!',
            type: 'positive'
          })
        })
        .finally(() => {
          this.signingOut = false
          this.$router.push('/auth/login')
        })
    },
    enableAccount (acc) {
      acc.Loading = true
      this.$forceUpdate()

      this.doAction({
        route: 'account/enableAccount',
        args: {
          fb: this.$fb,
          ID: acc.Account.ID
        },
        showLoading: false,
        errorMessage: 'Failed to enable account'
      })
        .then(() => {
          this.$router.push('/')
        })
        .finally(() => {
          acc.Loading = false
          this.$forceUpdate()
        })
    },
    doAction ({ route, args, showLoading, errorMessage }) {
      return this.$store.dispatch(
        'global/doAction',
        { route, args, showLoading, errorMessage },
        { root: true }
      )
    }
  },
  computed: {
    ...mapState('global', ['slidingAnimation'])
  }
}
</script>
