<template>
<div>
    <div class="text-light">
        <q-btn @click="$router.go(-1)" size="22px" flat icon="arrow_back" color="white"></q-btn>
        <strong>{{Account.Name}}</strong> / <span>Transfer</span>
    </div>
    <div class="row justify-center">
      <div style="width:500px;max-width: 90vw;">
        <q-field
          id="source-amount"
          :error="$v.form.amount.$error"
          icon="euro_symbol"
          error-label="Positive amount">
          <q-input dark
              clearable
              autofocus="true"
              float-label="Credit Amount"
              type="number"
              v-model="form.amount"
              @blur="$v.form.amount.$touch"
              :suffix="Currency.Symbol"
            />
        </q-field>
        <q-field
          icon="account_box"
        >
          <q-select
            float-label="Destination account"
            dark
            filter
            v-model="form.destinationAccount"
            :options="destinationAccounts(this.$route.params.accountID)"
          />
        </q-field>
        <q-field v-if="form.destinationAccount"
          id="destination-amount"
          :error="$v.form.destinationAmount.$error"
          icon="euro_symbol"
          error-label="Positive amount">
          <q-input dark
              ref="destinationAmount"
              clearable
              float-label="Debit Amount"
              type="number"
              v-model="form.destinationAmount"
              @blur="$v.form.destinationAmount.$touch"
              @input="destinationAmountChanged"
              :suffix="accountWithID(this.form.destinationAccount).Currency.Symbol"
            />
        </q-field>
        <h5 class="text-warning">Optional</h5>
        <q-field
          icon="description">
          <q-input dark
              float-label="Description"
              v-model="form.description"
              @keyup.enter="submit"
            />
        </q-field>
        <q-field
          dark
          icon="today">
          <q-datetime
            dark
            :displayValue="todayFormat(form.date)"
            type="date"
            :max="today"
            v-model="form.date"
            color="amber"
            float-label="Transfer date"
            icon="add"
            no-clear/>
        </q-field>
        <q-btn
          round
          color="primary"
          :loading="submitting"
          :disable="!canSubmit"
          @click="submit"
          class="fixed"
          size="lg"
          style="right: 18px; bottom: 18px"
          icon="arrow_forward">
          <span slot="loading"><q-spinner-facebook style="margin-left:12px"/></span>
        </q-btn>
    </div>
    </div>
</div>
</template>

<script>
import {mapGetters} from 'vuex'
import { required, minValue } from 'vuelidate/lib/validators'
import Vue from 'vue'
import { date } from 'quasar'

const {formatDate} = date

export default {
  data () {
    var today = new Date()

    return {
      today,
      form: {
        amount: '',
        destinationAccount: '',
        destinationAmount: '',
        description: '',
        date: today
      },
      Account: {
        ID: '',
        Name: '',
        Currency: {
          Symbol: '',
          Description: ''
        }
      },
      submitting: false,
      destinationAmountChangedManually: false
    }
  },
  watch: {
    'form.amount': function (val) {
      if (this.sameCurrency && !this.destinationAmountChangedManually) {
        this.form.destinationAmount = val
        this.$v.form.destinationAmount.$touch()
      }
    },
    'form.destinationAmount': function (val) {
      if (!val) { this.destinationAmountChangedManually = false }
    },
    'form.destinationAccount': function (val) {
      if (this.sameCurrency && !this.destinationAmountChangedManually) {
        this.form.destinationAmount = this.form.amount
      }
    }
  },
  validations: {
    form: {
      amount: { required, minValue: minValue(0.0000000001) },
      destinationAmount: { required, minValue: minValue(0.0000000001) }
    }
  },
  methods: {
    submit () {
      if (!this.canSubmit) return
      this.submitting = true

      this.doAction({
        route: 'transaction/addTransfer',
        args: {
          fb: this.$fb,
          SourceAccount: {
            ID: this.Account.ID,
            Name: this.Account.Name,
            Amount: this.form.amount,
            Currency: this.Account.Currency
          },
          DestinationAccount: {
            ID: this.form.destinationAccount,
            Name: this.accountWithID(this.form.destinationAccount).Name,
            Amount: this.form.destinationAmount
          },
          Description: this.form.description,
          Date: formatDate(this.form.date, 'YYYY-MM-DD')
        },
        showLoading: false,
        errorMessage: 'Unable to add transfer'})
        .then(message => {
          this.$router.replace('/')
        })
        .finally(() => {
          Vue.nextTick(() => {
            this.submitting = false
          })
        })
    },
    destinationAmountChanged () {
      this.destinationAmountChangedManually = true
    },
    doAction ({route, args, showLoading, errorMessage}) {
      return this.$store.dispatch('global/doAction', {route, args, showLoading, errorMessage}, {root: true})
    }
  },
  computed: {
    canSubmit: function () {
      return !this.$v.form.$invalid
    },
    Currency: function () {
      return this.Account.Currency
    },
    ...mapGetters('account', ['destinationAccounts', 'accountWithID']),
    ...mapGetters('global', ['todayFormat']),
    sameCurrency: function () {
      if (!this.Currency || !this.form.destinationAccount) { return false }

      var destinationAccount = this.accountWithID(this.form.destinationAccount)

      return this.Currency.Description === destinationAccount.Currency.Description &&
        this.Currency.Symbol === destinationAccount.Currency.Symbol
    }
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      var accountID = vm.$route.params.accountID

      var acc = vm.$store.getters['account/accountWithID'](accountID)

      if (accountID && acc) {
        vm.Account = acc
        next()
      } else {
        next(from)
      }
    })
  }
}
</script>

<style lang="stylus">
@import '~variables'

#source-amount
  i.q-field-icon
    color: $negative

#destination-amount
  i.q-field-icon
    color: $positive

i.q-if-control
  margin-left:10px
</style>
