<template>
    <div>
      <q-modal v-model="opened" position="bottom">
        <filter-container :filters=Filters></filter-container>
      </q-modal>
      <q-pull-to-refresh :handler="refresh" :distance=5 color="white">
      <transition appear
        :enter-active-class="slidingAnimation">
        <q-infinite-scroll :handler="nextPage" ref="infiniteScroll" :offset=0>
          <q-spinner-dots v-if="!transactionsEmpty" slot="message" :size="40" class="text-white"></q-spinner-dots>
          <filter-header :filters=Filters></filter-header>

          <q-list separator>
            <q-item v-for="tr in Transactions" :key="tr.id">
              <q-item-side left>
                <q-chip color="secondary" class="text-center">
                <strong>{{dateFormatted(tr.Date)}}</strong>
                <br>
                <acc-logo v-if="accountActive(tr.AccountID)" :account="accountWithID(tr.AccountID)" inline></acc-logo>
                </q-chip>
              </q-item-side>

              <q-item-main class="text-white">
                <strong v-if="tr.Transfer">Transfer</strong>
                <strong v-if="hasCategory(tr)"> {{transactionCategory(tr).Name}}</strong>
                <br>
                <q-chip v-for="tag in tr.Tags" :key="tag" color="primary" small>{{tag}}</q-chip>
                <br>
                <sub class="text-light">{{tr.Description}}</sub>
              </q-item-main>
              <q-item-side right>
                <strong :class="tr.Debit ? 'text-negative' : 'text-positive'">{{tr.Amount}}</strong>
              <q-btn color="primary" flat icon="edit" @click="editTransaction(tr)"/>
              <q-btn color="warning" flat icon="delete" @click="deleteTransaction(tr)"/>
              </q-item-side>
            </q-item>
          </q-list>
        </q-infinite-scroll>
      </transition>
      </q-pull-to-refresh>
      <a
        v-back-to-top.animate="{offset: 500, duration: 0}"
        round
        color="primary"
        class="fixed-top-left animate-pop backtotop"
      ><strong>Back to top</strong>
      </a>
      <q-btn
        size="lg"
        color="positive"
        @click="addTransaction(null,accountsCount)"
        :disabled="loading"
        class="fixed"
        style="right: 5px; bottom: 5px">
        <q-icon name="add" />
      </q-btn>
    </div>

</template>

<script>
import {mapState, mapGetters} from 'vuex'
import TransactionMixin from '../mixins/transactionMixin'
import { AccountLogo, FilterContainer, FiltersHeaderDescription } from '../components'
import Vue from 'vue'

export default {
  components: {
    'acc-logo': AccountLogo,
    'filter-container': FilterContainer,
    'filter-header': FiltersHeaderDescription
  },
  mixins: [TransactionMixin],
  data () {
    return {
      primed: false,
      opened: false,
      dateInputFocused: false
    }
  },
  mounted () {
    this.$root.$on('open_filters', () => { this.opened = true })

    Vue.nextTick(() => {
      this.infinite.stop()

      if (!this.Loading && this.HasMoreData) { this.infinite.resume() }

      if (!this.Primed) {
        this.doAction({
          route: 'transaction/refresh',
          args: {
            fb: this.$fb
          },
          showLoading: true,
          errorMessage: 'Failed to load transactions'
        })
      }
    })
  },
  watch: {
    Loading: function (value) {
      if (value) {
        this.infinite.stop()
      }
    },
    HasMoreData: function (value) {
      if (value) {
        this.infinite.resume()
      } else {
        this.infinite.stop()
      }
    }
  },
  methods: {
    accountActive (ID) {
      return !this.accountWithID(ID).Disabled
    },
    async refresh (done) {
      this.infinite.stop()

      this.doAction({
        route: 'transaction/refresh',
        args: {
          fb: this.$fb
        },
        showLoading: true,
        errorMessage: 'Failed to load transactions'
      })

      done()
    },
    async nextPage (_, done) {
      await this.doAction({
        route: 'transaction/runQuery',
        args: {
          fb: this.$fb
        },
        showLoading: false,
        errorMessage: 'Failed to load transactions'
      })

      done()
    },
    deleteTransaction (transaction) {
      var account = this.accountWithID(transaction.AccountID)

      this.$q.dialog({
        title: `Delete transaction ?`,
        message: account ? `${account.Name}'s balance will be updated!` : '',
        ok: true,
        cancel: true
      })
        .then(() => {
          this.doAction({
            route: 'transaction/deleteTransaction',
            args: {
              fb: this.$fb,
              transaction
            },
            showLoading: true,
            errorMessage: 'Failed to delete transaction'
          })
        })
        .catch(_ => {})
    },
    editTransaction (transaction) {
      this.$router.push(`/portfolio/transaction/${transaction.ID}`)
    },
    doAction ({route, args, showLoading, errorMessage}) {
      return this.$store.dispatch('global/doAction', {route, args, showLoading, errorMessage}, {root: true})
    }
  },
  computed: {
    infinite: function () {
      return this.$refs.infiniteScroll
    },
    ...mapState('global', ['loading', 'slidingAnimation']),
    ...mapState('transaction', ['Transactions', 'PageSize', 'Filters', 'Primed', 'HasMoreData', 'Loading']),
    ...mapGetters('transaction', ['transactionsEmpty', 'hasCategory', 'transactionCategory']),
    ...mapGetters('category', ['categoryWithID']),
    ...mapGetters('account', ['accountWithID', 'amountColor', 'accountsCount']),
    ...mapGetters('global', ['dateFormatted'])
  }
}
</script>

<style scoped lang="stylus">
@import '~variables'

.q-chip
  font-size 11px

.q-item-side-right
  button
    padding: 4px 4px

.q-collapsible
  color: white

.backtotop
  color white
  position fixed
  left 0
  top 30%
  padding 15px
  width 90px
  background-color $amber-8
  border-radius 0 15px 15px 0
  margin-top:100px
  text-decoration:none
</style>

<style lang="stylus">
.q-infinite-scroll-message
  text-align: center
</style>
