<template>
  <div>
    <div class="row">
      <select-filter :filter="filter" class="col-4"
        @input="rangeChanged"/>
      <q-datetime :disable="!isCustom" :value="filter.Value.From"
        :displayValue="rangeFormat.From" class="col-4"
        @input="fromChanged"
        :max="filter.Value.To || today"
        float-label="From" color="amber"/>
      <q-datetime :disable="!isCustom" :value="filter.Value.To"
        :displayValue="rangeFormat.To" class="col-4"
        @input="toChanged"
        :min="filter.Value.From"
        :max="today"
        float-label="To" color="amber"/>
    </div>
  </div>
</template>

<script>
import {filterTypes, dateRangeTypes} from '../store/global/state'
import SelectFilter from './selectFilter'
import {mapGetters} from 'vuex'
import {date} from 'quasar'

const {formatDate} = date

var today = new Date()

export default {
  components: {
    'select-filter': SelectFilter
  },
  data () {
    return {
      today: today
    }
  },
  props: {
    filter: {
      type: Object,
      required: true,
      validator: v => {
        return v.Type && Object.keys(filterTypes).map(k => filterTypes[k]).includes(v.Type)
      }
    }
  },
  computed: {
    isCustom: function () {
      return this.filter.Value.Range === dateRangeTypes.CUSTOM
    },
    rangeFormat: function () {
      return this.dateRangeFormatted(this.filter.Value.From, this.filter.Value.To, this.$store.getters)
    },
    ...mapGetters('global', ['dateRangeFormatted'])
  },
  methods: {
    formatDate: formatDate,
    rangeChanged (v) {
      if (this.filter.Value.Range === v) { return }

      this.$emit('input', {...this.filter.Value, ...{Range: v}})
    },
    fromChanged (v) {
      console.log(v)
      if (this.filter.Value.From === v) { return }

      this.$emit('input', {...this.filter.Value, ...{From: v}})
    },
    toChanged (v) {
      console.log(v)
      if (this.filter.Value.To === v) { return }

      this.$emit('input', {...this.filter.Value, ...{To: v}})
    }
  }
}

</script>
