<template>
    <q-list separator class="bg-white">
      <q-item v-for="filter in filters" v-bind:key="filter.Key">
        <div class="row col items-center">
          <component  v-bind:is="'C' + filter.Type" class="col-9" style="font-size: .8rem"
            :filter="filter"
            @input="v => $store.dispatch(filter.Action, {Key: filter.Key, Value: v})"/>
          <q-btn size="sm" color="primary" class="col-2 offset-1" v-if="!filter.HideClear"
            :disabled="!isDefaultFilter(filter)" @click="$store.dispatch(filter.Action, {Key: filter.Key, Value: null})">Clear</q-btn>
        </div>
      </q-item>
    </q-list>
</template>

<script>
// import {mapGetters} from 'vuex'
import SelectFilter from './selectFilter'
import DateFilter from './dateFilter'
import FlagFilter from './flagFilter'
import {mapGetters} from 'vuex'
import {filterTypes} from '../store/global/state'

export default {
  components: {
    C1: DateFilter,
    C2: SelectFilter,
    C3: FlagFilter
  },
  computed: {
    ...mapGetters('global', ['enabledFiltersCount', 'enabledFilters', 'filterDescription', 'hasEnabledFilters', 'isDefaultFilter'])
  },
  data () {
    return {
      opened: false
    }
  },
  props: {
    filters: {
      type: Array,
      required: true,
      validator: v => {
        var filter = v.filter(f => f.Type && Object.keys(filterTypes).map(k => filterTypes[k]).includes(f.Type))
        return Array.isArray(v) && filter.length === v.length
      }
    }
  }
}

</script>
