<template>
  <div class="bg-grey-9 shadow-1">
      <div class="relative-position" style="padding: 8px">
        <span class="text-white">Active filters: {{hasEnabledFilters(filters) ? '' : 'none'}}</span>
        <br>
        <small class="text-amber-6" v-for="(f,idx) in enabledFilters(filters)" v-bind:key="f.Key">
          {{filterDescription(f,true)}} <span v-if="idx !== enabledFilters(filters).length - 1">|</span>
        </small>
        <q-btn size="md" class="absolute" style="top:8px;right:5px" color="primary" @click="$root.$emit('open_filters')">Filters</q-btn>
      </div>
  </div>
</template>

<script>
import {mapGetters} from 'vuex'

export default {
  props: {
    filters: Array
  },
  computed: {
    ...mapGetters('global', ['enabledFilters', 'filterDescription', 'hasEnabledFilters'])
  }
}
</script>

<style scoped lang="stylus">
  .q-item-separator-component
    margin-top: 0
</style>
