<template>
    <div>
      <strong>Transaction type:</strong>
      <br>
      <br>
      <q-checkbox :color="color" :keep-color=true :label="label" :toggle-indeterminate=true :value="filter.Value" @input="v => $emit('input',v)"/>
    </div>
</template>

<script>
import {filterTypes} from '../store/global/state'

export default {
  // name: 'ComponentName',
  data () {
    return {}
  },
  props: {
    filter: {
      type: Object,
      required: true,
      validator: v => {
        return v.Type && Object.keys(filterTypes).map(k => filterTypes[k]).includes(v.Type)
      }
    }
  },
  computed: {
    label: function () {
      return this.filter.Value === null
        ? this.filter.LabelIndeterminate
        : this.filter.Value === true
          ? this.filter.LabelTrue
          : this.filter.LabelFalse
    },
    color: function () {
      if (this.filter.Value === null) {
        return 'faded'
      } else if (this.filter.Value === true) {
        return 'positive'
      } else if (this.filter.Value === false) {
        return 'negative'
      }
    }
  }
}
</script>

<style>
</style>
