<template>
        <q-select
            :float-label="filter.Label"
            :options="$store.getters[filter.OptionsGetter]"
            :value="$store.getters[filter.ValueGetter](filter.Key)"
            @input="v => $emit('input',v)">
        </q-select>
</template>

<script>
import {filterTypes} from '../store/global/state'

export default {
  props: {
    filter: {
      type: Object,
      required: true,
      validator: v => {
        return v.Type && Object.keys(filterTypes).map(k => filterTypes[k]).includes(v.Type)
      }
    }
  },
  methods: {
  }
}

</script>
