// app global css

@import '~variables'

.q-datetime-input
  .q-input-target
    color white

.q-collapsible
  .q-item-link
    .q-item-main
      font-size: 18px
      font-weight: bold
    .q-item-side
      i
        color:white


.q-carousel-left-arrow, .q-carousel-right-arrow
  background white
  

.q-list
  border none

$slideSpeed = 0.3s

a
  color $primary
  text-decoration underline

.slideInLeft
  -webkit-animation: slideInLeft $slideSpeed; /* Safari 4+ */
  -moz-animation:    slideInLeft $slideSpeed; /* Fx 5+ */
  -o-animation:      slideInLeft $slideSpeed; /* Opera 12+ */
  animation:         slideInLeft $slideSpeed; /* IE 10+, Fx 29+ */

.slideInRight
  -webkit-animation: slideInRight $slideSpeed; /* Safari 4+ */
  -moz-animation:    slideInRight $slideSpeed; /* Fx 5+ */
  -o-animation:      slideInRight $slideSpeed; /* Opera 12+ */
  animation:         slideInRight $slideSpeed; /* IE 10+, Fx 29+ */

.absolute-bottom-center
  text-align:center
  width:100%
  bottom:0