<template>
  <div id="q-app">
      <router-view />
  </div>
</template>

<script>
import {Notify} from 'quasar'
import {mapState} from 'vuex'

export default {
  name: 'app',
  watch: {
    error: function (val) {
      if (val) {
        Notify.create(val)
      }
    },
    success: function (val) {
      if (val) {
        Notify.create({
          message: val,
          type: 'positive'
        })
      }
    }
  },
  computed: {
    ...mapState('global', ['error', 'success'])
  }
}
</script>
