<template>
<div>
    <router-view/>
    <q-inner-loading :visible="loading">
        <q-spinner-facebook color="white"/>
    </q-inner-loading>
</div>
</template>

<script>

export default {
  computed: {
    loading: function () {
      return this.$store.state.global.loading
    }
  }
}
</script>
