<template>
  <q-layout v-touch-swipe.horizontal="swiped">
    <q-layout-header :reveal="true" :revealOffset="100">
      <q-tabs color="grey-9" ref="tabs">
        <q-route-tab @click="resetSwipeAnimation" slot="title" name="Accounts" icon="account_box" to="/portfolio" replace label="Accounts" color="amber-3"/>
        <q-route-tab @click="resetSwipeAnimation" slot="title" name="Transactions" icon="credit_card" to="/portfolio/transactions" replace label="Transactions" color="amber-3"/>
        <q-route-tab @click="resetSwipeAnimation" slot="title" name="Categories" icon="list" to="/portfolio/categories" replace label="Categories" color="amber-3"/>
        <q-route-tab @click="resetSwipeAnimation" slot="title" name="Settings" icon="settings" to="/portfolio/settings" replace label="Settings" color="amber-3"/>
      </q-tabs>
    </q-layout-header>
    <q-page-container>
        <router-view />
    </q-page-container>
    <q-inner-loading :visible="loading">
      <q-spinner-facebook color="white"/>
    </q-inner-loading>
  </q-layout>
</template>

<script>
import { openURL, Notify } from 'quasar'
import {mapGetters} from 'vuex'
export default {
  name: 'layout-default',
  data () {
    return {
      leftDrawerOpen: false,
      tabs: []
    }
  },
  mounted () {
    this.tabs = this.$refs.tabs.$children.filter(c => c.to).map(c => c.to)
  },
  methods: {
    swiped (touch) {
      if (touch.distance.x < 150) return

      var increment = touch.direction === 'left'

      var idx = this.tabs.indexOf(this.tabs.filter(t => t === this.$route.path)[0])
      if (idx === -1 || (idx === 0 && !increment) || (idx === (this.tabs.length - 1) && increment)) {
        return
      }

      this.$store.commit('global/setSlidingAnimation', increment
        ? 'animated slideInRight' : 'animated slideInLeft', {root: true})

      this.$router.replace(increment ? this.tabs[idx + 1] : this.tabs[idx - 1])
    },
    resetSwipeAnimation () {
      this.$store.commit('global/setSlidingAnimation', '', {root: true})
    },
    logOut () {
      this.$store.dispatch('auth/logOut', {fb: this.$fb})
        .then(_ => {
        })
        .catch(err => {
          if (err) { Notify.create(err.message ? err.message : 'Unable to log out!') }
        })
        .finally(() => {
          this.$router.push('/auth/login')
        })
    },
    openURL
  },
  computed: {
    loading: function () {
      return this.$store.state.global.loading
    },
    ...mapGetters('auth', ['authenticated'])
  }
}
</script>

<style>
</style>
